<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key> 
	<string>305072997566-bl75mgp4tbrh3l1amoaskaqgrisbtiqt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305072997566-bl75mgp4tbrh3l1amoaskaqgrisbtiqt</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>305072997566-3rgfpke7gqui4gkpr49mihuciomirs2t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRVmDdF5y_6zkjJok5Pdb7Kh1Yv19I4uk</string>
	<key>GCM_SENDER_ID</key>
	<string>305072997566</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convene.conveneapp</string>
	<key>PROJECT_ID</key>
	<string>convene-6b9e3</string>
	<key>STORAGE_BUCKET</key>
	<string>convene-6b9e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:305072997566:ios:538cec51c32f041bbd4aef</string>
</dict>
</plist>