<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>889205848089-uug5clhde29ma41t9oq391dpmp2mhgl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.889205848089-uug5clhde29ma41t9oq391dpmp2mhgl9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>889205848089-jnqugl21j1t0krlvj1jq091iguhuf4jj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCD_SJzwyMrx8eVIg_4YkkGDTvK9aLYJn4</string>
	<key>GCM_SENDER_ID</key>
	<string>889205848089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convene.conveneapp</string>
	<key>PROJECT_ID</key>
	<string>conveane</string>
	<key>STORAGE_BUCKET</key>
	<string>conveane.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:889205848089:ios:1b0168202c45d6b7085288</string>
</dict>
</plist>