<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260093364598-5mv7b7l6d05p4hfinfgig0ngvhgmnqs5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260093364598-5mv7b7l6d05p4hfinfgig0ngvhgmnqs5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>260093364598-tbhitqndhujenh8r6p8tntsbhbubispq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCN5fZRS1AepelHZFbESiauTgW459PRLoI</string>
	<key>GCM_SENDER_ID</key>
	<string>260093364598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.convene.conveneapp.dev</string>
	<key>PROJECT_ID</key>
	<string>convene-dev-a09c9</string>
	<key>STORAGE_BUCKET</key>
	<string>convene-dev-a09c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260093364598:ios:12bc0a1ab4cda339d39257</string>
</dict>
</plist>